*{
  background: rgb(60, 41, 90);
}
body{
  border: 10px solid #d0d0d0;
    border-style: dashed;
}

.form-registro .datos-persona{
  display: inline-block;
}

.form-registro .datos-persona .input-nombre{
  padding: 10px;
  border-radius: 8px;
}
.form-registro .datos-persona .input-nombre:focus{
  border: 2px solid rgb(201, 27, 27);
  background-color: rgb(43, 113, 206);
}

button{
  display: inline-block;
}
button:hover{
  background-color: rgb(58, 5, 145);
  color: #fff;
  border: none;
  padding: 10px;
  transition-duration: .5s;
}